html , body {
    height: 100vh;
}
.h1Home{
    font-size: 2rem;
    font-family: "Gill Sans", sans-serif;
    color: #4f5050;

}
.logo {
    width:100px ;
    height:100px;
}
header {
    border: 3px solid lightslategrey;
    border-radius: 10spx 5px;
    box-shadow: 5px 2px 2px lightslategrey;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    height: 15vh;
    background-size: cover;
    width: 100%;

}
.links {
    color: darkgray;
}
.links:hover {
    color: white;
}
.menuGrid {
    display: grid;
    grid-template-columns: 1fr;
}
.menuBtns {
    height: 40vh;
}
.profilUser{
    width: 200px;
    height: 220px;
}
.cont_profil{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.infosUser {
    width: 100%;
}
table {
    font-size: 14px;
}

#root2 {
    display: none;
}
.pointer{
    cursor:pointer;
}
.btnStatus {
    width: 50px;
    font-size: 12px;
    text-align: center;

}
.cont_profil {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
}
#closeIcone{
    display: none;
}
.table-profils{
    font-size: 10px;
}

@media screen and (min-width: 720px) {
    .menuGrid {
        grid-template-columns: 1fr 1fr 1fr;

    }
    table {
        font-size: 16px;
    }
    .btnStatus {
        width: 80px;
        font-size: 16px;
        text-align: center;

    }
    .cont_profil {

        grid-template-columns: 1fr 3fr;
    }

    header{
        grid-template-columns: 1fr 5fr;
    }
    .h1Home{
        font-size: 3rem;

    }
    .table-profils{
        font-size: 16px;
    }
}
